.site{
	width:90%;
	margin: 0 auto;
}
.category-panel {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
}
.category-wrap{
	position: absolute;
	width: 350px;
}
.controls{
	max-width: 350px;
	margin: 0 auto;
	position: relative;
}
.input{
	color: #777;
	padding: 10px;
	font-size: 16px;
	background: #fff;
	display: block;
	border: 1px solid #ccc;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.controls:hover .input,
.category:hover{
	color:#7D3B3B;
	background:#D6D6D6;
	text-indent: 50%;
}
.tip-1{
	cursor: pointer;
	color: #777;
	font-size: 10px;
	position: absolute;
	top:15px;
	left: 5%;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;	
}
.controls:hover .tip-1{
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
	opacity: 1;
}
.categories {
	max-height: 0;
	overflow: hidden;
	margin-top:5px;
	position: absolute;
	width:350px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.categories-show{
	max-height: 999px;
}
.categories ul {
	color: #777;
	font-size: 16px;
	background: #fff;
	display: block;
	cursor: pointer;
}
.category{
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #ccc;
	padding: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.category:last-child{
	border: 1px solid #ccc;
	padding: 10px;
}
.news-panel{
	margin-top: 150px;
}
.blank{
	min-height: 150px;
	max-height: 500px;
	text-align: center;
	color:#777;
	font-size: 60px;
	line-height: 60px;
}
.news-columns{
	-moz-column-count: 3;
	-moz-columns: 3;
	-webkit-columns:3;
	columns: 3;
}
.event{
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
	border-top: 1px solid #f2f2f2;
    margin-top: 12px;
    padding-top: 14px;
    margin-bottom: 8px;
    clear: both;
}
.photo{
	margin: 0 0 10px 10px;
	float: right;
    clear: right;
    display: inline;
    width: 190px;
}
.credit {
	font-size: 8px;
    line-height: 10px;
    color: #999;
    margin-bottom: 7px
}
.caption {
	font-size: 10px;
    line-height: 12px;
    color: #666;
}
.story-header {
	margin-bottom: 6px;
}
.kicker {
	font-size: 10px;
    line-height: 12px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.story-header > h2 {
	font-weight: 300;
	font-size: 20px;
    line-height: 22px;
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
}
.story-header > h2 > a{
	color: #999;
}
.byline {
	margin: 5px 0 -4px 0;
	font-size: 10px;
    line-height: 12px;
    color: #808080;
    font-family: georgia, "times new roman", times, serif;
}
.summery {
	font-family: georgia, "times new roman", times, serif;
	margin: 0 0 1em 0;
}

