.overlay{
    background:#dcdcdc;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    -webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
    z-index:100;
}
.hide{
	opacity :0;
}
.box{
    position:absolute;
    top:10%;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
    cursor: pointer;
}

.box > img{
	width: 320px;
	height: 480px;
}


